.columns {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filterSection {
  max-width: 190px;
  margin: 0 auto;
}

/* Tablets */
@media only screen and (min-width: 768px) {
  .columns {
    flex-direction: row;

    gap: 32px;
    margin-top: 24px;
  }
}

/* Desktop  */
@media only screen and (min-width: 1158px) {
  .columns {
    gap: 64px;
  }
  .filterSection {
    max-width: 360px;
    margin: 0;
  }
}
