:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Global color variables */
  --main: #101828;
  --text: #475467;
  --gray: #6c717b;
  --btn: #e44848;
  --hover: #d84343;
  --rating: #ffc531;
  --grayLight: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #ffffff;
}

a {
  font-weight: 500;
  color: var(--text);
  text-decoration: inherit;
}

a:hover,
a:active {
  color: var(--hover);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  place-items: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 0 auto;
  /* min-height: 100vh; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text);
    background-color: #ffffff;
  }

  button {
    background-color: var(--btn);
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
  text-align: start;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional but recommended for better layout control */
}
